<h2><%= display_result(session[:human_move], session[:computer_move]) %></h2>
<h2><%= session.delete(:human_move) %> vs <%= session.delete(:computer_move) %></h2>

<p>Human: <%= session[:human] %> / Computer: <%= session[:computer] %></p>



<a href="/select_throw">Try Again</a>
<a href="/">Back to Homepage</a>


<% unless @log.human_history.empty? %>
  <% @log.each do |human_move, computer_move| %>
    <ul>
      <li><%= display_history(human_move, computer_move) %></li>
    </ul>
  <% end %>
<% end %>